/*  Genral Settings */
html {
  --dark-black: #1e1e1e;
  --medium-black: #292929;
  --light-black: #282828;
  --dark-gray: #313131;
  --medium-gray: #bababa;
  --light-gray: #e9e9e9;
  --dusty-white: #f7f6f3;
  --dirty-white: #e8e7e4;
  --red: #ff4742;
  --gradient1: linear-gradient(
    117.03deg,
    #328bb3 0%,
    #328bb3 0.01%,
    rgba(252, 103, 84, 0.75) 100%
  );
  --gradient2: linear-gradient(
    116.03deg,
    #7289da 10.11%,
    rgba(50, 139, 179, 0.8) 56.14%,
    #aae1ce 114.14%
  );
}

body {
  font-family: inter, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--medium-black);
}

body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-track {
  background: var(--light-gray);
}
body::-webkit-scrollbar-thumb {
  background: var(--medium-gray);
  border: 2.5px solid var(--light-gray);
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: dodgerblue;
}

h1 {
  color: white;
  font-size: 30px;
}

h5 {
  font-weight: 600;
  font-size: 12px;
  margin: 10px 0 7px;
  color: var(--light-gray);
  cursor: default;
  text-transform: uppercase;
}

p {
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
}

/* Components  */

.btn-small-primary {
  font-size: 12px;
  font-weight: 500;
  padding: 0.7em 1.7em;
  border-radius: 3px;
  background: var(--red);
  text-decoration: none;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  transition: opacity 0.3s;
}
.btn-small-primary:hover {
  opacity: 0.7;
}

.btn-big-cta {
  display: inline-block;
  text-align: center;
  background: var(--red);
  color: var(--dark-black);
  padding: 1em 1.5em;
  border-radius: 3px;
  transition: opacity 0.3s;
}
.btn-big-cta:hover {
  opacity: 0.7;
}

a.btn-big-cta {
  margin: 0 auto;
}

/* Header  */
header {
  background-color: var(--dark-black);
  width: 100vw;
  border: 2px solid var(--dark-gray);
}
.header-container {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 16px;
}

.logo {
  margin-right: auto;
}

.logo-text {
  margin-left: 10px;
}

.navigation {
  display: none;
}
.navigation li {
  padding: 15px;
  cursor: pointer;
  position: relative;
  transition: background 0.2s ease-in-out;
}
.navigation li:hover {
  color: white;
  background-color: var(--medium-black);
  border-radius: 3px;
}

.navigation li:before {
  content: "";
  position: absolute;
  background: rgb(17, 17, 17);
  height: 0px;
  width: 80%;
  border-radius: 3px 3px 0 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: height 0.3s ease-in-out;
}

.navigation li:hover:before {
  content: "";
  position: absolute;
  background: rgb(17, 17, 17);
  height: 4px;
  width: 80%;
  border-radius: 3px 3px 0 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  /*transform-origin: bottom center;*/
}

.menu-hamburger {
  margin-left: auto;
  margin-right: 10px;
}

.search-icon {
  margin: 0 10px;
  display: none;
}

.settings-icon {
  padding-right: 20px;
  padding-left: 10px;
  display: none;
}

.darkmode-toggle {
  display: flex;
  align-items: center;
  margin-left: 1em;
  margin-top: -15px;
}
.darkmode-toggle p {
  color: var(--medium-gray);
  font-size: 14px;
}
.toggle {
  color: dodgerblue;
  margin-left: 5px;
  margin-top: 0;
}

/*  Hero Section  */

.hero {
  /*height: 35vh;*/
  background-color: var(--dark-black);
  border-top: 2px solid var(--dark-gray);
  border-bottom: 2px solid var(--dark-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.hero h1,
.hero p {
  text-align: center;
  margin-top: 0;
}

.hero h1 {
  margin: 0 auto;
  margin-bottom: 10px;
}

.hero-container p {
  padding: 0 5rem;
  margin-bottom: 20px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
  margin: auto;
}

div.hero-container {
  /* Remove padding asymetry */
  padding: 3rem 0;
}

/*///////  Responsive : from 300px Remove Logo-Text///*/

@media screen and (max-width: 300px) {
  .logo-text {
    display: none;
  }
}

/*/////////  Responsive : from 740px up ////////////*/

@media screen and (min-width: 740px) {
  /*  Header */
  .header-container {
    max-width: 1000px;
    margin: auto;
    padding: 0 2rem;
  }

  .navigation {
    display: flex;
    margin-right: auto;
    list-style: none;
    color: var(--medium-gray);
    font-size: 14px;
    font-weight: 600;
  }

  .menu-hamburger {
    display: none;
  }

  .search-icon {
    display: flex;
  }

  .settings-icon {
    display: flex;
    position: relative;
  }

  .settings-icon:focus .settings-rolldown-menu {
    opacity: 1;
    pointer-events: all;
    transform: translateY(-2px);
    z-index: 1;
  }

  .settings-rolldown-menu {
    position: absolute;
    top: 210%;
    left: -100px;
    list-style: none;
    height: 15em;
    width: 12em;
    padding: 1em 1.5em;
    border-radius: 3px;
    font-size: 14px;
    color: var(--medium-gray);
    background: var(--dark-black);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border: 2px solid var(--dark-gray);
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
  }
  .settings-rolldown-menu li {
    padding: 0.5em 1em;
    border-radius: 5px;
  }
  .settings-rolldown-menu li:hover {
    background-color: var(--medium-black);
    color: white;
  }

  /* Hero Section  */

  .hero {
    height: 90vh;
    background-image: url(https://i.ibb.co/0qpv5C4/Hero-background-1420x840.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    position: relative;
    border: none;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 1020px;
    height: 50%;
    margin: left;
  }

  div.hero-container {
    padding-left: 2rem;
  }

  .hero h1 {
    font-size: 50px;
    text-align: left;
    width: 450px;
    margin: 0;
    margin-bottom: 10px;
  }
  .hero p {
    font-size: 20px;
    text-align: left;
    width: 370px;
    padding-left: 0;
    line-height: 1.4;
  }

  a.btn-big-cta {
    display: inline-block;
    text-align: left;
    background: var(--red);
    color: white;
    padding: 1em 1.5em;
    border-radius: 3px;
    margin: 0;
  }
}

/*/////////  Responsive : from 1034x down ////////////*/

@media screen and (max-width: 1034px) {
  /*div.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 90%;
  }*/
}
